<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

    <!-- Link to CSS -->
    <link rel="stylesheet" href="../styles/style.css">

    <!-- Link to boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Link to JavaScript script -->
    <script src="../scripts/script.js" defer></script>

    <title>Mijn OBA - Welkom</title>
</head>

<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <div><img src="../images/oba_20.png" alt=""></div>
                </span>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>
        <div class="menu-bar">
            <div class="menu">

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="../">
                            <i class='bx bx-chevron-right icon'></i>
                            <span class="text nav-text">Typografie</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="../image/">
                            <i class='bx bx-chevron-right icon'></i>
                            <span class="text nav-text">Image</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="../tables/">
                            <i class='bx bx-chevron-right icon'></i>
                            <span class="text nav-text">Tables</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="../buttons/">
                            <i class='bx bx-chevron-right icon'></i>
                            <span class="text nav-text">Buttons</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="../form/">
                            <i class='bx bx-chevron-right icon'></i>
                            <span class="text nav-text">Form</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="../navigation/">
                            <i class='bx bx-chevron-right icon'></i>
                            <span class="text nav-text">Navigation</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a class="active" href="../components/">
                            <i class='bx bx-chevron-right icon'></i>
                            <span class="text nav-text">Components</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>

    <div class="home">
        <section class="container">
            <article class="intro">
                <h1>Components</h1>
                <hr> <!-- Dit is een lijn -->
                <img class="image" src="../images/car.png" alt="Illustratie"><br>
                <img class="image" src="../images/car2.png" alt="Illustratie">
                <h2>
                    <p>Voorbeeld code:</p>
                </h2>
                <hr>
                <div class="codeblock">
                    <code><span><</span><span class="blue">article</span> <span class="lightblue">class</span>=<span class="orange">"wrapper"</span><span>></span><br> 
                    <span class="tab"><</span><span class="blue">section</span> <span class="lightblue">class</span>=<span class="orange">"filters"</span><span>></span><br>
                        <span class="tab-2"><</span><span class="blue">label</span> <span class="lightblue">for</span>=<span class="orange">"filters"</span><span>></span>Filters:<span><</span><span class="blue">/label</span><span>></span> <br>
                        <span class="tab-2"><</span><span class="blue">select</span> <span class="lightblue">name</span>=<span class="orange">"filters"</span><span>></span> <span class="lightblue">id</span>=<span class="orange">"filters"</span><span>></span><br> 
                            <span class="tab-3"><</span><span class="blue">option</span> <span class="lightblue">value</span>=<span class="orange">"1"</span><span>></span>Uitleendatum (aflopend)<span><</span><span class="blue">/option</span><span>></span><br>
                            <span class="tab-3"><</span><span class="blue">option</span> <span class="lightblue">value</span>=<span class="orange">"2"</span><span>></span>Uitleendatum (oplopend)<span><</span><span class="blue">/option</span><span>></span><br>
                            <span class="tab-3"><</span><span class="blue">option</span> <span class="lightblue">value</span>=<span class="orange">"3"</span><span>></span>A-Z<span><</span><span class="blue">/option</span><span>></span><br>
                            <span class="tab-3"><</span><span class="blue">option</span> <span class="lightblue">value</span>=<span class="orange">"4"</span><span>></span>Z-A<span><</span><span class="blue">/option</span><span>></span><br>
                        <span class="tab-2"><</span><span class="blue">/select</span><span>></span><br>
                        <span class="tab-2"><</span><span class="blue">button</span> <span class="lightblue">id</span>=<span class="orange">"left"</span> <span class="lightblue">class</span>=<span class="orange">"fa-solid fa-angle-left"</span><span>></span><span><</span><span class="blue">/button</span><span>></span><br>
                        <span class="tab-2"><</span><span class="blue">button</span> <span class="lightblue">id</span>=<span class="orange">"right"</span> <span class="lightblue">class</span>=<span class="orange">"fa-solid fa-angle-right"</span><span>></span><span><</span><span class="blue">/button</span><span>></span><br> 
                    <span class="tab"><</span><span class="blue">/section</span><span>></span><br>


                    <code class="tab"><span><</span><span class="blue">section</span><span></span> <span class="lightblue">class</span>=<span class="orange">"carousel"</span><span>></span><br>
                        <code class="tab-2"><span><</span><span class="blue">article</span><span></span><span>></span><br>
                    <code class="tab-3"><span><</span><span class="blue">img</span><span></span> <span class="lightblue">class</span>=<span class="orange">"card img"</span><span class="lightblue">src</span>=<span class="orange">"../image/book-1"</span><span class="lightblue">alt</span>=<span class="orange">""</span><span>></span>Ontdek meer<span><</span><span class="blue">img</span> <span class="lightblue">class</span>=<span class="orange">"arrow-right"</span><span class="lightblue"> src</span>=<span class="orange">"#"</span><span>></span><span><</span><span class="blue">/button</span><span>></span></code><br>
                    <code
                        class="tab-3"><span><</span><span class="blue">h3</span><span></span><span>></span>Naam boek<span><</span><span class="blue">/h3</span><span>></span></code><br>
                    <code
                        class="tab-3"><span><</span><span class="blue">p</span><span></span><span>></span>Jaar: 2019<span><</span><span class="blue">/p</span><span>></span></code><br>
                    <code
                        class="tab-3"><span><</span><span class="blue">p</span><span></span><span>></span>Uitleendatum: 2018<span><</span><span class="blue">/p</span><span>></span></code><br>
                    <code class="tab-2"><span><</span><span class="blue">/article</span><span>></span></code><br>
                    <code
                        class="tab-2"><span><</span><span class="blue">article</span><span></span><span>></span><br>
                            <code class="tab-3"><span><</span><span class="blue">img</span><span></span> <span class="lightblue">class</span>=<span class="orange">"card img"</span><span class="lightblue">src</span>=<span class="orange">"../image/book-2"</span><span class="lightblue">alt</span>=<span class="orange">""</span><span>></span>Ontdek meer<span><</span><span class="blue">img</span> <span class="lightblue">class</span>=<span class="orange">"arrow-right"</span><span class="lightblue"> src</span>=<span class="orange">"#"</span><span>></span><span><</span><span class="blue">/button</span><span>></span></code><br>
                    <code
                        class="tab-3"><span><</span><span class="blue">h3</span><span></span><span>></span>Naam boek<span><</span><span class="blue">/h3</span><span>></span></code><br>
                    <code
                        class="tab-3"><span><</span><span class="blue">p</span><span></span><span>></span>Jaar: 2019<span><</span><span class="blue">/p</span><span>></span></code><br>
                    <code
                        class="tab-3"><span><</span><span class="blue">p</span><span></span><span>></span>Uitleendatum: 2018<span><</span><span class="blue">/p</span><span>></span></code><br>
                    <code class="tab-2"><span><</span><span class="blue">/article</span><span>></span></code><br>
                    <code class="tab"><span><</span><span class="blue">/section</span><span>></span></code><br>
                    <code><span><</span><span class="blue">/article</span><span>></span></code><br>
                </div>
            </article>
        </section>

    </div>

</body>

</html>