/* Fonts */
@font-face {
    font-family: AvenirRoman;
    src: url(../font/Avenir-roman.ttf);
}

@font-face {
    font-family: AvenirMedium;
    src: url(../font/Avenir-medium.ttf);
}

@font-face {
    font-family: AvenirBlack;
    src: url(../font/Avenir\ -black.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling */

:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #FF0000;
    --primary-color-light: #F6F5FF;
    --primary-color-dark: #d4d4d4;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}


body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
    font-family: AvenirMedium;
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* Start sidebar made by Amber */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

/* .sidebar.close {
    width: 88px;
} */

/* ===== Reusable code - Here ===== */
.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

/* .sidebar.close .text {
    opacity: 0;
} */

/* =========================== */

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 5rem;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
    display: none;
}

.sidebar .menu {
    margin-top: 18px;
}

.sidebar li.search-box,
select#filters {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

select#filters {
    padding: 1em;
}

.sidebar li.search-box input,
select#filters option {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover,
.sidebar li a.active {
    background-color: var(--primary-color);
}

.sidebar li a.active {
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text,
.sidebar li a.active .icon,
.sidebar li a.active .text,
.sidebar li a.active .text-long {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text,
body.dark .sidebar li a:hover .text-long {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}

.home {
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    position: absolute;
    right: 0;
    margin-top: 1.5rem;
    margin-right: 4rem;
    padding: 1.5rem;
}

/* .sidebar.close~.home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
} */

body.dark .home .text {
    color: var(--text-color);
}

/* End sidebar made by Amber */

/* Start container  */

.container {
    padding: 2rem;
    background-color: white;
    margin: 1rem 2.5rem 2.5rem 2.5rem;
    border-radius: 15px;
    min-height: calc(100vh - 2rem);
}

/* End container */

/* Start intro of page */

article.intro {
    text-align: left;
    width: 95%;
    max-width: 1325px;
}

.container article ul {
    margin-top: 2em;
}

.container article ul li {
    margin-left: 1em;
}

article.intro p {
    margin-top: 1.5rem;
}

article.intro h1 {
    font-size: 2em;
}

article.intro .image {
    max-height: 20rem;
    padding: 10px 0 10px 0
}

/* End intro of page */

article.intro {
    padding-top: 2em;
    width: 80%;
    margin: auto;
}

.buttons {
    padding-top: 2rem;
    width: 80%;
    margin: auto;
}

.button-container {
    width: 50%;
}

.buttons h2 {
    font-size: 2em;
}

button.loginButton {
    width: 100%;
    height: 45px;
    border: none;
    color: #FFFFFF;
    background-color: var(--primary-color);
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    transition: 0.3s;
    cursor: pointer;
    margin-bottom: 1em;
}

button.loginButton:hover {
    background-color: var(--primary-color-light);
    color: var(--text-color)
}

button.regularButton {
    width: 100%;
    height: 45px;
    border: none;
    color: #FFFFFF;
    background-color: black;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    transition: 0.3s;
    cursor: pointer;
    margin-bottom: 1em;
}

button.regularButton:hover {
    background-color: #454545;
}

button.textButton {
    width: 100%;
    height: 45px;
    border: none;
    color: #000;
    font-size: 17px;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 3em;
}

.arrow-right {
    padding-left: 0.2em;
}

.codeblock {
    border: 1px solid black;
    padding: 2rem;
    margin-top: 2rem;
    background-color: rgb(23, 23, 23);
    border-radius: 5px;
    color: white;
}

code {
    word-wrap: break-word;
}

.blue {
    color: rgb(48, 133, 200);
}

.lightblue {
    color: rgb(120, 213, 255);
}

.orange {
    color: orange;
}

article.intro {
    padding-top: 2em;
    width: 80%;
    margin: auto;
}

.forms {
    padding-top: 2rem;
    width: 80%;
    margin: auto;
}

/* Start Login  */
.input-wrapper {
    display: flex;
    gap: 1em;

}

.input-field {
    width: 100%;
    height: 45px;
    border: none;
    padding: 10px;
    background-color: #eeeeee;
    color: gray;
    outline: none;
    font-size: 15px;
    transition: .5s;
    border-radius: 5px;
}

/* End Login  */

.forms h2 {
    font-size: 2em;
}

/* Start searchForm */
.searchForm {
    display: flex;
    gap: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.radioButtons {
    display: flex;
    flex-direction: column;
}

.search-wrapper {
    width: 50%;
}

/* End searchForm */

/* Start Filters */
select#filters {
    border-radius: 6px;
    background-color: #eeeeee;
    cursor: pointer;
    transition: var(--tran-05);
    border: none;
    padding: 1em;
    margin-bottom: 2em;

}

select#filters option {
    height: 50%;
    width: 50%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}

/* End Fiters */

button.regularButton {
    width: auto;
    height: 45px;
    border: none;
    color: #FFFFFF;
    background-color: black;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    transition: 0.3s;
    cursor: pointer;
    padding-inline: 1rem;
}

.codeblock {
    border: 1px solid black;
    padding: 2rem;
    margin-top: 2rem;
    background-color: rgb(23, 23, 23);
    border-radius: 5px;
    color: white;
}

.tab {
    margin-left: 2em;
}

.tab-2 {
    margin-left: 4em;
}

.tab-3 {
    margin-left: 6em;
}

code {
    word-wrap: break-word;
}

.blue {
    color: rgb(48, 133, 200);
}

.lightblue {
    color: rgb(120, 213, 255);
}

.orange {
    color: orange;
}

@media screen and (max-width: 1300px) {
    article.intro {
        width: 100%;
    }

    .buttons {
        width: 100%;
    }

    .button-container {
        width: 100%;
    }
}

/* Responsive */

@media screen and (max-width: 1300px) {
    article.intro p {
        width: 80%;
    }
}

@media screen and (max-width: 750px) {

    .home .text {
        margin-right: 1.5rem;
        padding: 1.7rem;
    }

    .home .text img {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .home {
        top: 10%
    }

    .sidebar {
        width: 100%;
    }

    .sidebar.close~.home {
        left: 0;
        width: 100%;
    }

    .sidebar.close {
        width: 100%;
        padding: 10px 14px;
        height: auto;
        position: relative;
    }

    .sidebar.close header .toggle {
        right: inherit;
    }

    .sidebar header .toggle {
        right: unset;
        left: 90%
    }

    .sidebar.close .toggle {
        transform: translateY(-50%) rotate(90deg);
        display: unset;
    }

    .sidebar header .toggle {
        transform: translateY(-50%) rotate(270deg);
        display: unset;
    }

    .container {
        margin: 1rem;
        padding: 1rem;
    }

    article.intro h1 {
        font-size: 1.7em;
    }

    article.intro p {
        width: 100%;
    }

    .sidebar.close header ul.menu-links {
        display: flex;
    }

    .sidebar header ul.menu-links {
        display: none;
    }

    .sidebar.close .text {
        opacity: 1;
    }

    .sidebar.close .menu-bar {
        display: none;
    }

    .sidebar .menu-bar {
        height: unset;
    }

    .home .text {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    article.intro h1 {
        font-size: 1.3em;
    }
}

/* Typografie */

.typografie-avenirroman {
    font-family: "AvenirRoman";
    font-size: 0.9231rem;
}

.typografie-avenirmedium {
    font-family: "AvenirMedium";
    font-size: 0.9231rem;
}

.typografie-avenirblack {
    font-family: "AvenirBlack";
    font-size: 0.9231rem;
}

/* .typografie-details-list-h1 {
    font-size: 0.932rem;
    line-height: 1.5;
    font-weight: 400;
  }

  .typografie-details-list-h2 {
    font-size: 2.25rem;
    line-height: 1.5;
    font-weight: 700;
  }

  .typografie-details-list-h2 {
    font-size: 2.0rem;
    line-height: 1.5;
    font-weight: 700;
  } */